Source: psistats
Section: utils
Priority: extra
Maintainer: Alex Dowgailenko <adow@psikon.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/psistats/linux-client

Package: psistats
Architecture: all
Version: 0.2.0develop-1
Depends: python-netifaces, python-pika, python-daemon, python-simplejson, python-psutil
Recommends: hddtemp, lm-sensors
Description: Computer monitoring
